<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2025
  ~ All rights reserved.
  ~ Project: USTH Weather
  ~ File: AndroidManifest.xml
  ~ Created: 8/9/2025 10:33
  ~ Last Modified: 8/9/2025 10:33
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.USTHWeather">  <!-- Check this line -->
        <activity
            android:name="vn.edu.usth.weather.WeatherActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar"> <!-- Or check this line if specific to activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>


