<!--
  ~ Copyright (c) 2025 Pham The Minh
  ~ All rights reserved.
  ~ Project: USTH Weather
  ~ File: AndroidManifest.xml
  ~ Last Modified: 15/9/2025 10:15
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <activity
            android:name="vn.edu.usth.usthweather.WeatherActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>