<!--
  ~ Copyright (c) 2025 Pham The Minh
  ~ All rights reserved.
  ~ Project: USTH Weather
  ~ File: AndroidManifest.xml
  ~ Last Modified: 20/9/2025 2:15
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cloudy"
        android:label="USTH Weather"
        android:theme="@style/Theme.AppCompat.DayNight">

        <activity
            android:name=".WeatherActivity"
            android:exported="true"
            android:label="USTH Weather"
            android:theme="@style/Theme.AppCompat.DayNight">>
            <!-- 👈 overrides app name if set -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>